body,
html {
  font-family: "IBM Plex Sans", sans-serif !important;
}

img.logo {
  height: 1.5rem;
}

.stat {
  font-size: 36px;
  line-height: 44px;
  font-weight: 900;
}

.wrapper-slider {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.wrapper-slider .custom-range {
  flex-grow: 1;
}

.custom-range::-webkit-slider-thumb {
  background-color: #046161 !important;
}

.custom-range::-moz-range-thumb #thumb {
  background-color: #046161 !important;
}

#set-default-button.disabled {
  pointer-events: none;
  cursor: default;
  color: #6c757d;
}

.panel-extra-info {
  position: absolute;
  top: 0;
  right: 1rem;
  padding: 1rem;
  z-index: 1000;
  background-color: white;
}

.btn {
  border-color: #046161 !important;
}

.btn-primary {
  background-color: #046161 !important;
}

output.text-danger {
  color: #9C2509 !important;
}

p.text-primary {
  color: #046161 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900 !important;
}


#chart-container {
  height: 810px;
  font-family: "IBM Plex Sans Condensed", sans-serif !important;
}

/*!*Change tooltip parameters:*!*/
g[role="tooltip"] > g {
  fill: black;
  font-size: 12px;
  stroke: darkslategrey;
}

/*!*Change the text of breadcrumb parameters:*!*/
.amcharts-TextLink {
  font-size: 16px;
  fill: darkslategrey;
}

/*!*Change the text of namelabel parameters:*!*/
.amcharts-Label:not(.amcharts-TextLink) tspan {
  font-size: 12px;
  line-height: 1px;
  fill: black;
  /*outline: aqua 2px;*/
  /*text-outline: white;*/

}